{% extends 'base.html.twig' %}

{% block title %}Hello AppController!{% endblock %}

{% block body %}
    <section class="p-2 bg-dark d-flex justify-content-center flex-column align-items-center">
        <div class="card mb-5 mt-3" style="max-width: 1100px;">
            <div class="row g-3">
                <div class="col-md-5">
                    <img src="{{ asset('upload/projectHighlight/') }}{{ project.imageHighlight }}" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-7">
                    <div class="card-body">
                        <h1 class="card-title">{{ project.title }}</h1>
                        <h2 class="card-text"><i class="fa-solid fa-calendar-days"></i> {{ project.startDate | date("jS F Y") }}</h2>
                        <h2 class="card-text"><i class="fa-solid fa-clock-rotate-left"></i> {{ project.duration }}</h2>
                        <p class="card-text fs-3">{{ project.technologie }}</p>
                        <p class="card-text fs-3">{{ project.event }} : {{ project.theme }}</p>
                    </div>
                </div>
            </div>
        </div>
        <span style="height: 5px; width: 100px; background-color: white" class="mb-2"></span>
        <h2 class="text-white">Pitch</h2>
        <p class="w-50 text-white">{{ project.description }}</p>
        <div class="carouselVideo d-flex rounded mt-3 mb-3">
            {% for image in project.imageSlider %}
                <img src="{{ asset('upload/projectSlider/') }}{{ image.path }}" alt="" class="rounded">
            {% endfor %}
        </div>
        <div class="mb-5 mt-3">
            {% for file in project.fileProjects %}
                <a href="{{ asset('upload/projectFile/') }}{{ file.path }}" download class="p-3 bg-secondary rounded text-white text-decoration-none">{{ file.name }}</a>
            {% endfor %}
        </div>
        <span style="height: 5px; width: 100px; background-color: white" class="mb-2"></span>
        <h2 class="text-white">Additional infos</h2>
        <div class="d-flex w-75 mt-5 gap-4 align-items-center">
            <div class="d-flex flex-column text-white">
                <span style="height: 5px; width: 75px; background-color: white" class="mb-2"></span>
                <h3 class="text-white mb-3">Context</h3>
                <p>{{ project.context }}</p>
            </div>
            <div>{{ project.youtubeVideo | youtube_player | raw }}</div>
        </div>
    </section>
{% endblock %}

